* {
  box-sizing: border-box;
}

body {
  background-color: #3F3B3B;
  color: white;
  padding-left: 50px;
}

.tierbox {
  outline: solid purple 3px;
  display: block;
  width: 200px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: px;
  border-radius: 20px;
  text-align: center;
}


.charbox {
  outline: solid purple 3px;
  display: block;
  width: 400px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 20px;
  text-align: center;
}

.charpanel {
  display: inline-block
}



.panelcontainer{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 40px;
  max-width: 100%;
}

.box{
  outline: solid purple 3px;
  width: 400px; 
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  max-width: 100%;

}

.innerbox{
  outline: solid purple 3px;
  display: block;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 20px;
}

h3 {
  font-size: 24px;
  margin-top: 10px;
}

.cost {
  margin-left: auto;
}

.plus {
  width: 30px;
  border: 2px solid purple;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.minus {
  width: 30px;
  border: 2px solid purple;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.th {
  display: block;
  font-size: 1.17em;
  margin-bottom: 2px;
  font-weight: bold;
}

.tplus {
  width: 30px;
  border: 2px solid purple;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-left: auto;
}