
body {
  background-color: #3F3B3B;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.box{
  outline: solid purple 3px;
  display: inline-block;
  width: 400px;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.innerbox{
  outline: solid purple 3px;
  display: block;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 20px;
}

h3 {
  font-size: 24px;
  margin-top: 10px;
}
.cost {
  Margin-left: auto;
}

.plus {
  width: 30px;
  border: 2px solid purple;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.minus {
  width: 30px;
  border: 2px solid purple;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}